body{
    padding: 0;
    margin: 0;
    background: url(1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    
    height: 700px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.274);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    font-family: 'Poppins',sans-serif;
    color: #000000;
    text-align: center;
    
    border: 10px solid; /* Width of the border */
    border-image: linear-gradient(45deg, #ea3b70, #f14c89, #4facfe, #00f2fe, #28a745, #ffcc00) 1; /* Multi-color gradient */
    box-shadow: 0 0 20px rgba(255, 119, 145, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(255, 119, 145, 0.9), 0 0 50px rgba(255, 119, 145, 0.7), 0 0 70px rgba(255, 119, 145, 0.5);
}
.avatar {
    margin-top: 20px; /* margin of my photo from top */
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    margin-right: 4px; /* Spacing between the image and the quote */
    box-shadow: 
    0 0 10px #ff0000,
    0 0 20px #ff7700,
    0 0 30px #ffaa00,
    0 0 40px #aaff00,
    0 0 50px #00ff66,
    0 0 60px #00aaff,
    0 0 70px #0000ff,
    0 0 80px #aa00ff,
    0 0 90px #ff00aa;
animation: neon-border 1.5s linear infinite alternate;
}

@keyframes neon-border {
to {
    box-shadow: 
        
        0 0 80px #aaff00,
        0 0 100px #00ff66,
        0 0 120px #00aaff,
        0 0 140px #0000ff,
        0 0 160px #aa00ff,
        0 0 180px #ff00aa;
}
}

.fas{
    display: block;
    font-size: 45px;
    height: 200px;
    width: 90px;
    background-image:linear-gradient(45deg,#ea3b70,
    #f14c89);
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    padding: 22px 0;
    box-shadow: 0 0 20px rgba(255,119,145,0.7);
    margin: 20px auto;
}
blockquote{
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin: 35px 20px;
    font-weight: 500;
}
span.author-name{
    font-weight: 600;
    font-size: 18px;
}